.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  margin: 0 auto;
  border: 1px solid black;
}

.item {
  width: 60px;
  height: 60px;
  /* background-color: azure; */
}

button {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: black;
  color: white;
}

button:hover {
  opacity: 0.8;
}
